body { background:#fafafa;}
.logoBox { height:100px; padding-top:28px; border-bottom:solid 1px #e1e1e1; margin-bottom:60px;}
.logo { width:140px; height:100px; background:url("/huotui/images/logo.png") no-repeat center; text-indent:-9999em;}
.tabBtn { padding-top:40px;}
.tabBtn span { font-size:14px; float:left; display:inline; height:20px; line-height:20px; padding:0 16px; color:#323232; cursor:pointer;}
.tabBtn span.active { color:#999;}
.tabBtn em { line-height:20px; color:#999; font-size:14px;}

.min {height:322px;}
/*登录状态*/
.loginBox { position: relative; width:644px; padding-left:100px; border-right:1px solid #e1e1e1; height:322px;}
.loginCon { width:300px; margin-right:30px; }
.loginCon ul {}
.loginCon li { width:300px; height:50px; margin-bottom:30px; position:relative;}
.loginCon li input { font-size:12px; padding:19px 12px; border:solid 1px #e1e1e1; background:#fafafa; width:274px; margin:0; display:block;}
.loginCon li span { position:absolute; top:0; left:12px; height:52px; line-height:52px; color:#a8a8a8;}
.stateBox { margin-bottom:28px;}
.state { height:16px;}
.state input { margin-top:2px;}
.state label { line-height:16px;}
.forget { color:#00c3f5;}
.login { display:block; width:300px; height:50px; background:#00c3f5; color:#fff; font-size:18px; text-align:center; line-height:50px;}
.verifyBox { width:280px; padding-top:162px; height:50px; line-height:50px;}
.verifyBox img {margin:0 30px;}
.verifyBox a { color:#00c3f5; text-decoration:underline;}
.QQ { background:url("/huotui/images/QQ.png") no-repeat center; width:365px; height:322px;}
.footer { position:absolute; bottom:0; left:0; width:100%; height:95px; padding-top:25px; background:#f1f1f1; line-height:22px;}
.footer a { display:block; text-align:center; color:#3897fd;}
.footer p { text-align:center;}
#verify{
	display:block;
	background: #00c3f5;
	width:72px; 
	height:36px;
	line-height: 36px;
	text-align:center;
	font-size: 18px;
}
#tel{
	position:absolute; top:0; right:196px;height:36px; line-height:36px;text-align: center;display: none;color: #ff0000}
}
